{% macro t(key) %}{{ {
  "language": "ptBR",
  "edit.link.title": "Editar essa página",
  "footer.previous": "Anterior",
  "footer.next": "Próximo",
  "meta.comments": "Comentários",
  "meta.source": "Código Fonte",
  "search.languages": "",
  "search.placeholder": "Busca",
  "search.result.placeholder": "Digite algo para buscar",
  "search.result.none": "Nenhum documento encontrado",
  "search.result.one": "1 documento encontrado",
  "search.result.other": "# documentos encontrados",
  "search.tokenizer": "[\s\-]+",
  "source.link.title": "Ir para o repositório",
  "toc.title": "Índice"
}[key] }}{% endmacro %}
